.tickets-info{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}

.text{
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #9FA2B4;
  margin-right: 150px;
}
