.tickets-top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 48px;
}

.tickets-top__title{
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  letter-spacing: 0.4px;
  color: #252733;
  margin: 0;
}

.btns-info{
  display: flex;
}

.tickets-top__btns{
  display: flex;
  align-items: center;
}

.tickets-top__sort{
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #4B506D;
  margin: 0 34px 0 10px;
  border: transparent;
  background-color: transparent;
}

.tickets-top__filter{
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #4B506D;
  margin-left: 10px;
  border: transparent;
  background-color: transparent;
}